{% extends 'base.html.twig' %}

{% block title 'Reset Password' %}

{% block body %}
    <h1 class="text-center mt-md-15 mb-5 d-none d-md-block">Reset Password</h1>
    <form class="container-fluid text-center register my-5" method="post">
        <div class="row h-100">
            <div class="col-11 col-md-6 mx-auto my-4 border">
                <h1 class="mx-auto my-5 d-block d-md-none">Reset Password</h1>
                <div class="col-12 my-3 my-md-5">
                    <div class="my-4 my-md-3 d-grid">
                        <label class="my-3 my-md-1" for="username">Username *</label>
                        <input class="bg-transparent border-left-0 border-top-0 border-right-0 my-3 my-md-1 text-center" type="text" id="username" name="username" required />
                    </div>
                    <div class="my-4 my-md-3 d-grid">
                        <label class="my-3 my-md-1" for="password">Password *</label>
                        <input class="bg-transparent border-left-0 border-top-0 border-right-0 my-3 my-md-1 text-center" type="password" id="inputPassword" name="password" placeholder="Password" required />
                        <input type="hidden" name="token" value="{{ token }}">
                    </div>
                    <div class="my-4 my-md-3 text-center d-grid">
                        <button class="btn btn-success order-0 order-md-1 w-25 mx-auto my-md-3" type="submit">Reset</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
{% endblock %}