
###> symfony/framework-bundle ###
.idea/php.xml
.env
/.env.local
/.env.local.php
/.env.*.local
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

###> symfony/phpunit-bridge ###
.phpunit
/phpunit.xml
###< symfony/phpunit-bridge ###

###> symfony/web-server-bundle ###
/.web-server-pid
###< symfony/web-server-bundle ###

###> symfony/webpack-encore-bundle ###
/node_modules/
/public/build/
npm-debug.log
yarn-error.log
###< symfony/webpack-encore-bundle ###

.DS_Store
.idea/workspace.xml
.idea/misc.xml
.idea/modules.xml
.idea/snowtricks2019.iml
.idea/vcs.xml
.idea/workspace.xml
assets/img/uploads/
