{% extends 'base.html.twig' %}

{% block body %}
    <h1 class="text-center {{ appFlashes|length > 0 ? 'mt-5' : 'mt-md-15' }} mb-5 d-none d-md-block">Tricks</h1>
    {% if app.user.id is defined %}
        <button type="button" data-toggle="modal" data-target="#Modal-New" class="btn btn-primary w-25 mx-auto">Créer un Tricks</button>
    {% endif %}
    <div class="container-fluid">
        {% include 'base/trickslist.html.twig' %}
    </div>


{% endblock %}