body {
    background-color: lightgray;
    min-height: 100%;
}
nav {
    height: 8vh;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 1030;
}
a{
    color: rgba(0,0,0,.9);
}
input:focus{
    outline: none;
    text-align: center;
}
@-webkit-keyframes autofill {
    to {
        color: #666;
        background: transparent;
    }
}

input:-webkit-autofill {
    -webkit-animation-name: autofill;
    -webkit-animation-fill-mode: both;
}
#trick-description{
    display: block;
    width: 75%;
    height: 25vh;
    margin: 1.5rem auto;
}
#trick-description .form-group{
    height: 85%;
}
#trick-description textarea{
    height: 100%;
}
.trick-description{
    white-space: pre-wrap;
    margin: 2rem 5rem;
    text-align: justify;
}
#buttons{
    display: none;
}
.btn:focus{
    box-shadow: 0 0 0 0;
}
.flash-message-block{
    z-index: 1;
    padding-top: 15vh;
    position: relative;
}
.flash-message{
    position: absolute;
    width: 50%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
}
.col-20{
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    -ms-flex: 0 0 20%;
    flex: 0 0 20%;
    max-width: 20%;
}
.h-33vh{
    height:33vh;
}

.mt-8{
    margin-top: 8vh;
}
.mt--7{
    margin-top: -7vh;
}
.mb-8{
    margin-bottom: 8vh;
}
.mt-15{
    margin-top: 15vh;
}
.navbar{
    position: fixed;
}

.d-grid{
    display: grid;
}
.hidden {
    display:none;
}
.home-img{
    height: 92vh;
}
.home-img img{
    height: -webkit-fill-available;
    height: -moz-available;
    position:absolute;
    left: 50%;
    top: 50%;
    transform: translate(-45%, -50%);
}
.home-img-arrow{
    height: 10vh;
    width: 10%;
    bottom: 5vh;
    right: 5%;
}
.home-img-arrow button{
    height: 100%;
    width: 100%;
    padding: 0;
    font-size: 5rem;
    color: white;
}
.home-img-arrow button svg{
    position: absolute;
    right: 0;
    bottom: 0;
}
.register{
    height: 80vh;
}
.slogan{
    top: 50%;
    left: 50%;
    transform: translate(-10%,0%);
}
.trick-title{
    text-decoration: underline;
}
.modal-header .close {
    padding: 1rem 1rem 1rem 0.5rem;
    margin: -1rem -1rem -1rem 0;
}
.modal-title-primary{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #2e3136;
    color: white;
    padding: 3rem;
}
.container-primary{
    z-index: 1;
    position: absolute;
    min-height: 100%;
    min-width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.container-trick{
    position: relative;
    overflow: hidden;
    height: 130px;
}
.zindex-2{
    z-index:2;
}
.bug-padding{
    margin-left: 1px;
    padding-left: 14px;
}
.h-200{
    height: 200px;
}
.mh-75{
    max-height: 75%;
}
.mh-25{
    max-height: 25%;
}
.image-title{
    white-space: nowrap;
    overflow: hidden;
    overflow-wrap: break-word;
    text-overflow: ellipsis;
}
@media (min-width: 576px){
    .modal-dialog{
        max-width: 75%;
    }
}
@media (min-width: 768px){
    nav{
        bottom: auto;
        top: 0;
    }
    .mt-md-8{
        margin-top: 8vh;
    }
    .mt-md-15{
        margin-top: 15vh;
    }
    .home-img img{
        height:auto;
        transform: translate(-50%, -50%);
    }
    .register{
        height: 50vh;
    }
    .slogan{
        top: 50%;
        left: 50%;
        transform: translate(-10%, 70%);
    }
}
@media (min-width: 1200px){
    .slogan{
        top: 50%;
        left: 50%;
        transform: translate(-10%, 100%);
    }
}

